body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  text-align: center;
}

input {
  padding: .25rem;
  border-style: none;
  font-size: 1rem;
  width: 70%;
  font-family: 'Courier New', Courier, monospace;
}

button {
  width: 30%;
  font-size: 1.25rem;
  font-family: 'Courier New', Courier, monospace;
  transition: width 0.5s;
  padding: .5rem 1rem;
  cursor: pointer;
}

button:hover {
  width: 32%;
}

.login_form,
.register_form {
  max-width: 500px;
  width: 100%;
  padding: 2em 4em;
  margin: auto;
  border: solid 1px #000;
}

.login_form input,
.register_form input {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.login_form input:focus,
.register_form input:focus {
  border-color: #fff;
}

.login_form_actions,
.register_form_actions {
  margin: 2em;
}


.primary_button {
  background-color: transparent;
  border: 1px solid #000;
}

.secondary_button {
  text-decoration: none;
  transition: color .15s ease-in;
  color: white;
  background-color: #a463f2;
  display: inline-block;
  border: none;
}

.message-validator {
  font-size: 12px;
  color: red;
}

.center {
  display: flex;
  justify-content: center;
}


